<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	backupGlobals="false"
	backupStaticAttributes="false"
	colors="always"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	bootstrap="tests/bootstrap.php"
	>

	<!-- Test directory components -->
	<testsuite name="Component">
		<directory suffix="Test.php">./tests/Unit/Component</directory>
	</testsuite>

	<!-- Test directory workflow -->
	<testsuite name="Workflow">
		<directory suffix="Test.php">./tests/Unit/Workflow</directory>
	</testsuite>

</phpunit>
